html,
body {
    overflow-x: hidden;
}

body {
    background-color: white;
    box-shadow: 0 0 5px;
}

h1 {
    font-family: 'Andada Pro', serif;
    font-size: 30px;
}

p,
h3,
ul li,
ol li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 20px;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: auto;
}

header {
    background-color: #89a8da;
    text-align: center;
    height: 80px;
}

.title {
    color: #0c1b54;
    padding: 10px;
}

.navbar {
    background-color: #0c1b54;
    padding: 7px;
    width: auto;
}

.navbar ul {
    list-style-type: none;
    font-weight: bold;
}

.navbar li {
    list-style-type: none;
    padding: 10px 0px;
}

.navbar li a {
    padding: 15px 0px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    width: 11%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding: 0.7em 0px;
}

.navbar li a:hover {
    color: #82eefd;
}

main {
    display: flex;
}

.sidenav {
    display: none;
}

.wrap1 {
    display: flex;
    flex-direction: column;
    width: auto;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    width: 80%;
    text-align: justify;
}

.PageTitle {
    width: auto;
    color: purple;
    font-size: 40px;
    margin-left: 10px;
}

.container1 {
    font-size: 25px;
    font-weight: 550;
    padding: 0px 15px;
}

.container1 img {
    width: 500px;
    height: 400px;
    border-radius: 8px;
}

form {
    align-self: center;
    padding-bottom: 20px;
}

form #feedBack {
    background-color: rgb(0, 57, 133);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.subheading {
    color: rgb(0, 57, 133);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Hind Siliguri', sans-serif;
    margin-left: 20px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
    padding-left: 20px;
    border-color: rgb(0, 57, 133);
    font-size: 20px;
}


/* When the input field gets focus,
      change its width to 100% */

input[type=text]:focus {
    width: 60%;
    padding-left: 20px;
}

#list {
    font-size: 1.5em;
    margin-left: 90px;
}

footer {
    display: inline-block;
    background-color: #89a8da;
    color: #0c1b54;
    text-align: center;
}

.highlight {
    color: red;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }
    .navbar ul {
        display: inline;
    }
    .navbar {
        height: 3em;
    }
    .navbar li {
        display: inline;
    }
    .navbar li a {
        display: inline-block;
    }
    .sidenav {
        display: block;
        height: 590px;
        width: 850px;
        background-color: #a1c6e0;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenav ul {
        list-style-type: none;
    }
    .sidenav a {
        padding: 10px 7px;
        text-decoration: none;
        font-weight: bold;
        color: #0c1b54;
        display: block;
        font-family: 'Work Sans', sans-serif;
        font-size: 1em;
    }
    .sidenav a:hover {
        color: #800080;
    }
    .wrap1 {
        overflow: auto;
        height: 610px;
    }
    .container1 {
        padding-right: 20px;
    }
    .wrap {
        height: 100%;
    }
}