html,
body {
    overflow-x: hidden;
}

body {
    background-color: white;
    box-shadow: 0 0 5px;
}

h1 {
    font-family: 'Andada Pro', serif;
    font-size: 30px;
}

#clock {
    font-size: 30px;
    width: 200px;
    text-align: center;
    float: right;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

p,
h3,
ul li,
ol li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
}

.qt {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: darkblue;
    width: auto;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: auto;
}

header {
    background-color: #89a8da;
    text-align: center;
    height: 80px;
}

.title {
    color: #0c1b54;
    padding: 10px;
}

.navbar {
    background-color: #0c1b54;
    padding: 7px;
    width: auto;
}

.navbar ul {
    list-style-type: none;
    font-weight: bold;
}

.navbar li {
    list-style-type: none;
    padding: 10px 0px;
}

.navbar li a {
    padding: 15px 0px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    width: 11%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding: 0.7em 0px;
}

.navbar li a:hover {
    color: #82eefd;
}

main {
    display: flex;
}

.sidenav {
    display: none;
}

.wrap1 {
    display: flex;
    flex-direction: column;
    width: auto;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
}

.PageTitle {
    width: auto;
    color: purple;
    font-size: 40px;
    margin-left: 10px;
}

.container1 {
    font-size: 25px;
    font-weight: 550;
    padding: 0px 15px;
    padding-bottom: 20px;
}

.container1 img {
    padding-left: 20px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

.container1 .section1 {
    width: 80%;
    border-left-style: solid;
    border-left-color: rgb(0, 57, 133);
    background-color: #d6e0e7;
    font-style: italic;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

.subheading {
    color: rgb(0, 57, 133);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Hind Siliguri', sans-serif;
    margin-left: 20px;
}

footer {
    display: inline-block;
    background-color: #89a8da;
    color: #0c1b54;
    text-align: center;
}

.highlight {
    color: red;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border: 2px solid rgb(63, 63, 172);
    align-content: center;
}

th,
td {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    border: 2px solid #a1c6e0;
}

th:first-child,
td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #89a8da;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }
    .navbar ul {
        display: inline;
    }
    .navbar {
        height: 3em;
    }
    .navbar li {
        display: inline;
    }
    .navbar li a {
        display: inline-block;
    }
    .sidenav {
        display: block;
        height: 590px;
        width: 850px;
        background-color: #a1c6e0;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .sidenav ul {
        list-style-type: none;
    }
    .sidenav a {
        padding: 10px 7px;
        text-decoration: none;
        font-weight: bold;
        color: #0c1b54;
        display: block;
        font-family: 'Work Sans', sans-serif;
        font-size: 1em;
    }
    .sidenav a:hover {
        color: #800080;
    }
    .wrap1 {
        overflow: auto;
        height: 610px;
    }
    .section1,
    .section2 {
        padding-right: 20px;
    }
    .container3 {
        padding-right: 20px;
    }
    .wrap {
        height: 100%;
    }
}