<button onclick="subscribe()">Subscribe</button>


function hide (elements) {
elements = elements.length ? elements : [elements];
for (var index = 0; index < elements.length; index++) {
    elements[index].style.display = 'none';
}
}

function subscribe() {
    // replace vex-theme-plain with the name of your theme
    vex.defaultOptions.className = 'vex-theme-plain';
    var vexId = vex.dialog.open({
    message: 'Get latest updates, enter your email:',
    input: [
        '<input name="email" type="text" placeholder="jhondoe@domain.com" required />',
    ].join(''),
    buttons: [
        $.extend({}, vex.dialog.buttons.YES, { text: 'Subscribe' }),
        $.extend({}, vex.dialog.buttons.NO, { text: 'Back' })
    ],
    callback: function (data) {
        if (!data) {
                }
                else {
            var email_value = data.email;
                        var form = document.createElement("form");
                        form.setAttribute('method',"post");
                        //replace below email with your email
                        form.setAttribute('action', "http://formspree.io/classandobjects@gmail.com");

                        var input = document.createElement("input"); //input element, text
                        input.setAttribute('type',"email");
                        input.setAttribute('name',"email");
                        input.value = email_value;

                        form.appendChild(input);
                        form.submit();
        }
                // In most cases you wont need the below line, but after clicking submit or cancel if the box does not closes for some reason, you will want to uncommnet the line below.
                // hide(document.querySelectorAll('.vex'));
    },
    });
}
