body{
    background-color: white;
    box-shadow: 0 0 5px ;
}

h1{
    font-family: 'Andada Pro', serif;
    font-size: 40px;
    color: #800080;
    font-weight: bolder;
}

h2{
    color: #05103b;
    font-weight: bolder;
    font-weight: 900;
    font-size: 25px;
}

h3{
    color: goldenrod;
    font-variant: small-caps;
    font-weight: 900;
    font-size: 20px;
}


p,ul li, ol li{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 400;
    font-size: 20px;
}

header{
    background-color:#89a8da;
    text-align: center;
    height:100px;
}

.title{
    color:#0c1b54;
    padding:10px;
}

.navbar{
    background-color: #0c1b54;
    padding: 7px;
    width:auto;
}

.navbar ul{
    list-style-type: none;
    font-weight: bold;
}

.navbar li{
    list-style-type: none;
    padding:10px 0px;
}

.navbar li a{
    padding: 15px 0px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    width: 11%;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding:0.7em 0px;
}

.navbar li a:hover{
    color:#82eefd;
}

main{
    display: flex;
}

.wrap1{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content{
    margin-left: 10px;
    background-color: white;
    width: auto;
}

.PageTitle{
    width:auto;
    color:purple;
    font-size: 40px;
    padding: 10px;
}

.container1, .section2{
    font-size: 25px;
    font-weight: 550;
    padding-left: 30px;
    padding-right: 20px;
}

.AvsGieltsImg{
    box-shadow: 0 0 10px;
    margin-left: 20px;
}

.air,.car,.bus,.cycle,.ferry,.taxi,.public,.rail{
    height: 120px;
    width: 150px;
    border-radius: 50%;
    border-color: #0c1b54;
}

.subheading{
    color: rgb(0, 57, 133);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Hind Siliguri', sans-serif;
}

#sub1{
    color:rgb(199, 3, 3);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: #89a8da;
    color:#0c1b54;
    text-align: center;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  #myInput {
    background-image: url('../assest/');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 94%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: rgb(176, 176, 231);
  } 

  
@media only screen and (min-width : 768px){

    main{
        display: flex;
    }

    .navbar ul{
        display: inline;
    }

    .navbar{
        height: 3em;
    }

    .navbar li{
        display: inline;
    }

    .navbar li a {
        display: inline-block;
    }

    .sidenav {
        width:360px;
        background-color: #a1c6e0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav ul,li{
        list-style-type: none;
        font-size: 17px;
        font-weight: bolder;
    }

    .sidenav a {
        padding: 10px 7px ;
        text-decoration: none;
        font-weight: bold;
        color: #0c1b54;
        display: block;
        font-family: 'Work Sans', sans-serif;
        font-size: 17px;
        font-weight: bolder;
    }

    .sidenav a:hover {
        color: #800080;
    }

    .wrap1{
        overflow: auto ;
        height:590px;
    }

    .section1,.section2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .container1{
        padding-left: 60px;
        padding-right: 20px;
    }

}

@media only screen and (min-width : 1024px){

    .section1, .section2{
        display: flex;
    }

    .AvsGieltsImg{
        width: 30%;
        height: 600px;
    }
}



